
<center>

<div class="container">
<div class="card border-secondary col-md-7 m-2">
<div class="card-header col-lg-12 d-flex m-0 p-1 rounded text-center bg-light", width=100%>
<h1 class=" text-center  text-info"  style="display: inline-block"> Event</h1> 
<a class=" ml-auto p-2 btn btn-primary btn-lg " href="#" role="button" style="display: inline-block">Subscribe</a>
</div>
<div class="card-body px-0 py-3 mx-0 my-1">

      <div class="row text-left  justify-content-center">
        <div class="col-4"> <p class="font-weight-bold">Title:</p></div><div class="col-6"><p class="text-primary font-italic"><%= @event.title%></p></div>
      </div>

      <div class="row text-left  justify-content-center">
        <div class="col-4"> <p class="font-weight-bold">Date:</p></div><div class="col-6"><p class="text-danger font-italic"><%= @event.start_date%></div>
      </div>

      <div class="row text-left  justify-content-center">
        <div class="col-4"> <p class="font-weight-bold">Lieu:</p></div><div class="col-6"><p class="text-primary font-italic"><%= @event.location %></p></div>
      </div>

      <div class="row text-left  justify-content-center">
        <div class="col-4"> <p class="font-weight-bold">Price:</p></div><div class="col-6"><p class="text-primary font-italic"><%= @event.price%>€</p></div>
      </div>

      <div class="row text-left  justify-content-center">
        <div class="col-4"> <p class="font-weight-bold">Duration: </p></div><div class="col-6"><p class="text-primary font-italic"><%= @event.duration%></p></div>
      </div>

      <div class="row text-left  justify-content-center">
        <div class="col-4"> <p class="font-weight-bold">Nombre des Participants: </p></div><div class="col-6"><p class="text-primary font-italic"><%=@present.all.count %></p></div>
      </div>

      <div class="row text-left  justify-content-center">
        <div class="col-4"> <p class="font-weight-bold">Description:</p></div><div class="col-6"> <p><%=@event.description%></p></div>
     </div>
<% if user_signed_in? %>
    <% if current_user == @event.admin %>
    <a class="btn btn-dark btn-lg" href="<%= edit_event_path(@event.id) %>" role="button">Editer</a>
    <a class="btn btn-default text-dark" href="<%= event_participations_path(@event.id) %>">Les participants</a>
    <% end %>

    <% if current_user.id != @event.admin.id && is_user_going == true %>
    <a class="btn btn-dark btn-lg" href="<%= new_event_participation_path(@event.id) %>" role="button">Rejoindre l'événement</a>
    <% end %>

    <% if is_user_going != true %>
    <a class="btn btn-dark btn-lg" target="_blank" href="#">Retirer sa participation</a>
    <% end %>

  <% else %>
  <% flash[:primary] = "Connectez vous pour pouvoir participer à un événement" %>
  <% end %>
  </p>

  </div>
</div>