<!--<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Salut <%= @admin_first_name %>, <%= @admin_last_name %> !</h1>
    <h2><%= @invited_first_name %>,<%= @invited_last_name %></h2>
     <h3> this user has done the inscription for participating in your event </h3>
     <h3> By this email address  <%= @invited_email %> </h3>
    <h3> Best whishes for you and for your guests </h3>
  </body>
</html> -->
